
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.625rem;
}

body {
  background-color: #ecf0f1;
  padding: 0 2rem 2rem 2rem;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 900px;
  width: 90vw;
  margin: 0 auto;
}

.disapear {
  display: none;
}

.text-center {
  text-align: center;
}

.nav-width {
  max-width: 900px;
  min-width: 525px;
}

/* start navbar */
.navigation {
  border: 3px double #ecf0f1;
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  position: fixed;
  width: 90vw;
  background-color: #c0392b;
}

.logo {
  color: white;
  _border: 1px solid #ecf0f1;
  font-size: 2rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.navigation .links {
  list-style: none;
  padding: 2rem 0;
}

.navigation .links .item {
  display: inline-block;
  padding: 0.5rem 1.5rem;
}

.navigation .links .item:nth-child(2) {
  border-right: 2px solid #ecf0f1;
  border-left: 2px solid #ecf0f1;
}

.navigation a:link {
  text-decoration: none;
  color: white;
}

.navigation p {
  color: white;
}

/* end navbar */

.content {
  background-color: #ecf0f1;
  height: 100vh;
}

.dummy-div {
  height: 15rem;
  margin-bottom: 1rem;
}

.timeNow {
  width: 89.8vw;
  padding: 0.5rem;
  text-align: right;
  color: #ecf0f1;
  background-color: #e74c3c;
  position: fixed;
  top: 8rem;
  font-size: 2em;
}

.header {
  background-color: #e5e5f7;
  opacity: 0.2;
  background-image: radial-gradient(#444cf7 1px, #e5e5f7 1px);
  background-size: 20px 20px;
}

.header h1 {
  font-weight: 600;
  letter-spacing: 1.3rem;
  margin-bottom: 3.5rem;
  padding: 50px 0;
  font-size: 4em;
  border: 3px double black;
  _font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-family: 'Yomogi', cursive;
  color: black;
}

#display-books {
  padding: 0.7rem;
  margin-bottom: 3rem;
}

.single-book {
  margin-bottom: 2rem;
  padding: 1rem 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid white;
  color: black;
  height: 10vh;
  border-radius: 10px;
  font-size: 1.4em;
}

.single-book:nth-child(even) {
  background-color: #f39c12;
}

.single-book:nth-child(odd) {
  background-color: #f1c40f;
}

.book-info {
  font-size: 1.2em;
}

.book-title,
.book-author {
  padding: 0.3em 1em;
}

.form-header {
  margin-bottom: 10em;
  text-transform: capitalize;
}

form {
  padding: 1em;
}

input[placeholder="Title"],
input[placeholder="Author"] {
  border: none;
  width: 70%;
  padding: 1.5em;
  margin-bottom: 2em;
  border-radius: 10px;
  outline: none;
  font-size: 1.5em;
  color: #c0392b;
}

.removebtn,
.add-btn {
  background: #ecf0f1;
  outline: none;
  border: 1px solid transparent;
  padding: 0.5em 1.5em;
  color: red;
  letter-spacing: 1.6px;
  font-size: 1.2em;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 0.3em;
  font-weight: 200;
}

.add-btn {
  border: 1px solid #c0392b;
  font-size: 2em;
  padding: 0.25em 1.5em;
  transition: all 0.5s;
  letter-spacing: 0.2em;
}

.add-btn:hover,
.removebtn:hover {
  background: #c0392b;
  border: 1px solid white;
  color: #ecf0f1;
  padding: 0.5em 1.5em;
}

.add-btn:hover {
  padding: 0.25em 1.5em;
}

.bttn-container {
  text-align: right;
  width: 68%;
  margin: 0 auto;
}


/* contact */
.contact {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 3px;
}

.contact-container {
  border: 10px double #ecf0f1;
  margin: 0 auto;
  padding: 4rem;
  min-width: 400px;
  background-color: #c0392b;
  color: #ecf0f1;
}

.contact-container h1 {
  margin-bottom: 0.7em;
}

.contact-container p {
  font-size: 1.1em;
  line-height: 3rem;
}

.contact ul {
  margin: 1em auto;
  text-align: left;
}

/* contact */

footer {
  bottom: 0;
  padding: 1rem;
}

footer p {
  font-size: 1rem;
}
